jupyter
accelerate
bitsandbytes==0.37.2
datasets==2.10.1
safetensors==0.3.0
sentencepiece
matplotlib==3.7.1
openai
pytorch-lightning==2.0.0
pandas==1.5.3
scikit-learn==1.2.2
tqdm
wandb==0.14.0
git+https://github.com/huggingface/transformers